@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Lato-Bold.ttf') format('truetype');
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --light-color: #fcfffc;
  --dark-color: #2d3a3a;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato';
  font-weight: 400;
  vertical-align: baseline;
  color: var(--light-color);
}

/* GRID */
.flex {
  display: flex;
}
.header {
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.05rem;
  z-index: 10;
}
  .menu {
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 11;
    background: var(--dark-color);
    opacity: 0.94;
  }
  .header-brand, .header-navlink {
    text-decoration: none;
    padding: 1rem;
    color: inherit;
    z-index: inherit;
  }
  .header-navlink {
    margin-left : 0.3rem;
  }

.content, section {
  height: inherit;
}
.home {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 600px) {
  .menu {
    position: unset;
    background: inherit;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
  }
}
